In [37]:
import pandas as pd
import ast

# Data Cleaning for Marvel Data

In [38]:
with open("marvel.txt") as f:
    string = f.read()
    f.close()
data_as_dict = ast.literal_eval(string)
pairings = data_as_dict["links"]

marvel_data = pd.DataFrame(pairings)

In [39]:
source = []
target = []

for char in marvel_data.source:
    name = char.split("(", 1)
    source.append(name[0])
    
for char in marvel_data.target:
    name = char.split("(", 1)
    target.append(name[0]) 
    
dict_ = {"source": source, "target": target}

In [40]:
marvel_data = pd.DataFrame(dict_)

In [41]:
marvel_data.to_csv("marvel.csv")

# Data Cleaning for NCAA Data
We want to split the data by

In [49]:
ncaa = pd.read_csv("results.csv")
ncaa.head(30)

,Unnamed: 0,team,opponent,date,result,score,opp_score
0,0,Villanova,Lafayette,2016-11-11,W,88,48
1,1,Villanova,Purdue,2016-11-14,W,79,76
2,2,Villanova,Western Michigan,2016-11-17,W,76,65
3,3,Villanova,Wake Forest,2016-11-18,W,96,77
4,4,Villanova,Central Florida,2016-11-20,W,67,57
5,5,Villanova,College of Charleston,2016-11-23,W,63,47
6,6,Villanova,Pennsylvania,2016-11-29,W,82,57
7,7,Villanova,Saint Joseph's,2016-12-03,W,88,57
8,8,Villanova,La Salle,2016-12-06,W,89,79
9,9,Villanova,Notre Dame,2016-12-10,W,74,66
10,10,Villanova,Temple,2016-12-13,W,78,57
11,11,Villanova,American,2016-12-21,W,90,48
12,12,Villanova,DePaul,2016-12-28,W,68,65
13,13,Villanova,Creighton,2016-12-31,W,80,70
14,14,Villanova,Butler,2017-01-04,L,58,66
15,15,Villanova,Marquette,2017-01-07,W,93,81
16,16,Villanova,Xavier,2017-01-10,W,79,54
17,17,Villanova,St. John's (NY),2017-01-14,W,70,57
18,18,Villanova,Seton Hall,2017-01-16,W,76,46
19,19,Villanova,Providence,2017-01-21,W,78,68
20,20,Villanova,Marquette,2017-01-24,L,72,74
21,21,Villanova,Virginia,2017-01-29,W,61,59
22,22,Villanova,Providence,2017-02-01,W,66,57
23,23,Villanova,St. John's (NY),2017-02-04,W,92,79
24,24,Villanova,Georgetown,2017-02-07,W,75,64
25,25,Villanova,Xavier,2017-02-11,W,73,57
26,26,Villanova,DePaul,2017-02-13,W,75,62
27,27,Villanova,Seton Hall,2017-02-18,W,92,70
28,28,Villanova,Butler,2017-02-22,L,66,74
29,29,Villanova,Creighton,2017-02-25,W,79,63